<div class="col-12">
   <%= form_tag properties_path, method: :get, class: "d-flex form-flex-end" do %>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :name_query,
         params[:name_query],
         class: "form-control",
           id: "search-input",
           placeholder: "Name/address"
           %>
   </div>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :neighborhood_query,
         params[:neighborhood_query],
         class: "form-control",
           id: "search-input",
           placeholder: "Neighborhood"
           %>
   </div>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :min_rooms,
         params[:min_rooms],
         class: "form-control",
           id: "search-input",
           placeholder: "Min. rooms"
           %>
   </div>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :max_rooms,
         params[:max_rooms],
         class: "form-control",
           id: "search-input",
           placeholder: "Max. rooms"
           %>
   </div>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :min_price,
         params[:min_price],
         class: "form-control",
           id: "search-input",
           placeholder: "Min. price"
           %>
   </div>
   <div class="form-group form-flex-1 mb-0 mr-1">
      <%= text_field_tag :max_price,
         params[:max_price],
         class: "form-control",
           id: "search-input",
           placeholder: "Max. price"
           %>
   </div>
   <%= button_tag type: 'submit', class: "btn btn-danger" do %>
   <i class="fas fa-search"></i>
   <% end %>
   <% end %>
</div>