<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <% if current_account.admin? %>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Admin panel</span>
        </h6>
        <li class="nav-item">
          <%= link_to accounts_path, class: "nav-link text-dark" do %>
            <i data-feather="users"></i>
            Accounts
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to accounts_path, class: "nav-link text-dark" do %>
            <i data-feather="pen-tool"></i>
            Blog posts
          <% end %>
        </li>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Realtor panel</span>
        </h6>
      <% end %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link text-dark" do %>
          <i data-feather="home"></i>
          Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to account_properties_path, class: "nav-link text-dark" do %>
          <i data-feather="package"></i>
          My properties
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_property_path, class: "nav-link text-dark" do %>
          <i data-feather="file-plus"></i>
          Add property
        <% end %>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Account Settings</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to profile_path(current_account), class: "nav-link text-dark" do %>
        <i data-feather="user"></i>
          My profile
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_account_registration_path, class: "nav-link text-dark" do %>
        <i data-feather="settings"></i>
          Edit account
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script>feather.replace()</script>