<div class="agent-info text-center p-2 border">

  <% if @agent.photo.present? %>
    <%= image_tag @agent.photo, class: "avatar-agent mb-3" %>
  <% else %>
    <%= image_tag "https://cdn2.iconfinder.com/data/icons/avatar-profile/422/avatar_tie_user_default_suit_display_business-512.png", class: "avatar-agent mb-3" %>
  <% end %>

  <h5><%= @agent.full_name %></h5> 
  <p><%= @agent.company %></p>

  <button class="btn btn-dark btn-block mb-2" id="showPhone" data-phone="<%= @agent.telephone %>"><i class="fas fa-phone-square-alt"></i> <span>Call <%= @agent.first_name %></span></button>

  <div class="call-to-action d-flex justify-content-between">
    <%= link_to profile_path(@agent) do  %>
      <button class="btn btn-dark"><i class="far fa-id-badge"></i> See Profile</button>
    <% end %>

    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#mailModal"><i class="fas fa-envelope-square"></i> Send a Mail</button>
  </div>
</div>


<%= render "properties/mail_modal" %>