<div class="agent-info text-center p-2 border">

  <% if @agent.photo.present? %>
    <%= image_tag @agent.photo, class: "avatar-agent mb-3" %>
  <% else %>
    <%= image_tag "https://cdn2.iconfinder.com/data/icons/avatar-profile/422/avatar_tie_user_default_suit_display_business-512.png", class: "avatar-agent mb-3" %>
  <% end %>

  <h5><%= @agent.full_name %></h5> 
  <p><%= @agent.company %></p>

  <button class="btn btn-danger btn-block mb-2" id="showPhone" data-phone="<%= @agent.telephone %>"><i class="fas fa-phone-square-alt"></i> <span>Call <%= @agent.first_name %></span></button>

  <div class="row">
    <div class="col-md-6 px-md-1">
      <% unless current_page?(profile_path(@agent)) %>
        <%= link_to profile_path(@agent) do  %>
          <button class="btn btn-dark btn-block"><i class="far fa-id-badge"></i> See Profile</button>
        <% end %>
        </div>
        <div class="col-md-6 px-md-1">
          <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#mailModal"><i     class="fas fa-envelope-square"></i> Send Email</button>
        </div>
      <% end %>
  </div>
</div>


<%= render "properties/mail_modal" %>