<div class="agent-info text-center p-2 border">

  <% if @agent.photo.present? %>
    <%= image_tag @agent.photo, class: "avatar-agent mb-3" %>
  <% else %>
    <%= image_tag "https://cdn2.iconfinder.com/data/icons/avatar-profile/422/avatar_tie_user_default_suit_display_business-512.png", class: "avatar-agent mb-3" %>
  <% end %>

  <h5><%= @agent.full_name %></h5> 
  <p><%= @agent.company %></p>

  <button class="btn btn-dark btn-block mb-2" id="showPhone" data-phone="<%= @agent.telephone %>"><i class="fas fa-phone-square-alt"></i> <span>Call <%= @agent.first_name %></span></button>

  <div class="call-to-action d-flex justify-content-between">
    <%= link_to profile_path(@agent) do  %>
      <button class="btn btn-dark"><i class="far fa-id-badge"></i> Profile</button>
    <% end %>

    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#mailModal" data-mail="@mdo"><i class="fas fa-envelope-square"></i> Mail <%= @agent.first_name %></button>
  </div>
</div>


<%# Modal for mail to agent %>
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mailModalLabel">New message for <%= @agent.first_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Your name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Your mail:</label>
            <input type="text" class="form-control" id="recipient-mail">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>