<% properties.limit(3).each do |property| %>
  <div class="card-product border">
    <%= image_tag property.photos[0] %>
    <div class="card-product-infos">
      <h2><%= property.name %></h2>
      <p><%= property.address %></p>
    </div>
    <div class="product-amenities">
      <p class="mr-4"><i class="fas fa-couch fa-sm"></i> <%= property.rooms %></p>
      <p class="mr-4"><i class="fas fa-bed fa-sm"></i> <%= property.bedrooms %></p>
      <p><i class="fas fa-bath fa-sm"></i> <%= property.bathrooms %></p>
    </div>
  </div>
<% end %>