<div class="form-container p-3 p-md-5 m-md-3">
  <%= simple_form_for(@property) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :address,
                  hint: "Street, Post code, City" %>
      <%= f.input :neighborhood,
                  as: :radio_buttons,
                  collection: ["Centrum", "West", "Nieuw West", "Zuid", "Zuidoost", "Oost", "Noord"] %>
      <%= f.input :neighborhood_text,
                  label: false,
                  hint: "If you want to be more specific, type the neighborhood here (you still have to pick one)."  %>
      <%= f.input :price,
                  hint: "Total price (for sale) or monthly price (for rent)" %>
      <div class="d-flex justify-content-between">
        <%= f.input :rooms %>
        <%= f.input :bedrooms %>
        <%= f.input :bathrooms %>
      </div>
      <%= f.input :description %>
      <div class="d-flex justify-content-between">
        <%= f.input :for_sale,
                    hint: "Deflag if the property is for rent" %>
        <%= f.input :available_date %>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-outline-blue" %>
    </div>
  <% end %>
</div>
