<p id="notice"><%= notice %></p>

<div class="property-show">
  <div class="photo-main" style="background-image:url('<%= url_for( @property.photos[0]) %>')">
  </div>
  
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <p><strong><%= @property.for_sale? ? "For Sale" : "For Rent" %></strong></p>
        <div class="row d-flex justify-content-between">
          <div class="col-md-6">
            <h5 class="property-info"><%= @property.address %></h5>
            <h3><%= number_to_currency(@property.price, :locale => :en) %> <%= @property.for_sale? ? "tot." : "/ month" %></h3>
          </div>

          <div class="col-md-6 text-center bg-light">
            <div class="row mr-md-2 bg-light p-2">
              <div class="col-4">
                <p class="m-0"><strong>Rooms</strong></p>
                <i class="fas fa-couch fa-sm"></i>
                <span><%= @property.rooms %></span>
              </div>
              <div class="col-4 line-vertical">
                <p class="m-0"><strong>Bedrooms</strong></p>
                <i class="fas fa-bed fa-sm"></i>
                <span><%= @property.bedrooms %></span>
              </div>
              <div class="col-4">
                <p class="m-0"><strong>Bathrooms</strong></p>
                <i class="fas fa-bath fa-sm"></i>
                <span><%= @property.bathrooms %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-4 border-top border-bottom d-flex justify-content-between">
            <% if @property.for_sale? %>
              <p class="mt-3 text-success"><strong><i class="fas fa-comments-dollar"></i> Est. Monthly Payment of <%= number_to_currency(@property.price / 360, :locale => :en) %>*</strong></p>
            <% else %>
              <p class="mt-3 text-primary"><strong><i class="far fa-lightbulb"></i> Available from <%= @property.available_date.strftime("%a") %>, <%= @property.available_date.day.ordinalize %> <%= @property.available_date.strftime("%b") %></strong></p>
            <% end %>
            <p class="mt-3 text-success"><strong><i class="fas fa-search-dollar"></i> Can I afford this property?</strong></p>
          </div>
        </div>

      <div class="row mt-5">
        <div class="col-md-12">
          <h3><%= @property.name %></h3>
          <h5>Property Description</h5>
          <div id="property-details">
            <p class="text-justify"><%= @property.description %></p>
          </div>
          <button class="btn btn-outline-dark mt-2" id="toggleDetails">Show More</button>
          <p class="text-mortgage mt-5">* This rate is based on a 30 year mortgage, after paying an initial 10% down payment. Shorter term mortgages would require a highly monthly repayment.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= render "properties/agent_info" %>
    </div>
  </div>
</div>


<i class="fas fa-undo-alt"></i> <%= link_to 'Back', properties_path %>

<% if account_signed_in? && @property.account_id == current_account.id %>
  <%= link_to 'Edit', edit_property_path(@property) %>
<% end %>

