<header>
  <div class="container c-mg">
    <div class="header-copy">
      <h1>Amsterdam Makelaars</h1>
      <h4 class="lead fw-normal">
        Find the home you will proudly call yours. Selected apartments for sale.
      </h4>
    </div>
    <%= image_tag 'heroBanner.jpg', id: 'hero' %>
  </div>
</header>
<section class="search-prperties">
  <div class="container pb-2 mb-5">
    <h2 class="pb-2 mb-4 border-bottom">Find your home now</h2>
    <%= render "layouts/nav/search_form" %>
  </div>
</section>
<section class="latest-properties">
  <div class="container py-3 mt-5">
    <h2 class="pb-2 border-bottom">Latest properties</h2>
  </div>
  <%= render "properties/properties", properties: @latest_properties %>
</section>
<section class="features">
  <div class="container offers py-2">
    <h2 class="pb-2 pt-4 border-bottom">What we offer</h2>
    <div class="pt-3">
      <%= render "layouts/features" %>
    </div>
  </div>
</section>
<section class="luxe-properties">
  <div class="container py-3 mt-5">
    <h2 class="pb-2 border-bottom">Luxurious nests</h2>
  </div>
  <%= render "properties/properties", properties: @luxe_properties %>
</section>
<section class="testimonials">
  <div class="container py-3 mt-4">
    <h2 class="pb-2 border-bottom">Our customers says</h2>
  </div>
  <%= render "layouts/testimonials" %>
</section>
