<!DOCTYPE html>
<html>
  <head>
    <title>AmsterdamMakelaars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="toastr.css" rel="stylesheet"/>
  </head>

  <body>
    <header>
      <%= render "layouts/nav/public" %>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <% unless current_page?(dashboard_path)%>
        <%= render "layouts/footer" %>
      <% end %>
    </footer>

    <div id="notifications"><%= flash_notifications %></div>
    <script src="toastr.js"></script>
  </body>
</html>
